body {
    background-color: rgba(23, 19, 19, 0.232);

}


.container .cards {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    overflow-x:auto;

    gap: 20px;

    .card {
        border: none;
        background-color: rgb(119, 47, 47);
        padding: 40px;
        border-radius: 20px;
        margin-top: 15px;
        overflow-wrap: break-word;
    }
    .card:hover{
        transition: 1s;
        box-shadow: 5px 5px #000;
    }


}


.cards {
    
    font-family: 'Courier New', Courier, monospace;

    .priority {

        color: red;
        text-shadow: 1px 1px;


    }

    #status {
        background-color: white;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
    }

    #delete {
        background-color: red;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;



    }

    p {
        
        border-radius: 10px;
        border: solid 1px;
        cursor: default;
        color:white;
        background-color: rgba(23, 19, 19, 0.573);
        padding: 10px;
    
    }

    #delete:hover {
        transition: 50ms;
        padding: 7px
    }
}


.taskflow {
    background-color: rgb(119, 47, 47);
    color: white;
    width: 600px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 12px;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: auto 1fr auto 120px;
    grid-template-rows: auto auto auto 1fr auto;
    gap: 12px;
    border: none;

}
.taskflow:hover{
    transition: 1s;
    box-shadow: 5px 5px #000;
}

#form select {
    cursor: pointer;
}

#form {
    border: none;
    padding: 50px;

    margin: 20px 80px;

}

.header {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 2px 1px;
}


.label-title {
    grid-column: 1;
    text-shadow: 1px 1px;
}

.input-title {
    grid-column: 2;
    border-radius: 5px;
    border: solid 1px;
    background-color: rgba(23, 19, 19, 0.573);
    color: white;
    
}

.label-priority {
    grid-column: 3;

}

.input-priority {
    grid-column: 4;
    background-color: gray;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
}


.label-desc {
    grid-column: 1;
    grid-row: 3;
    text-shadow: 1px 1px;
}

.input-desc {
    grid-column: 2 / -1;
    grid-row: 3 / 5;
    min-height: 120px;
    resize: none;
    font-family: "Delius", cursive;
    border-radius: 5px;
    border: solid 1px;
    background-color: rgba(23, 19, 19, 0.573);
    color: white;
    font-size: 18px;
    padding:10px 50px;
    
}


.btn-create {
    grid-column: 1 / -1;
    justify-self: center;
    padding: 8px 24px;
    background: #9be7a5;
    border: 2px solid #000;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;


}

.btn-create:hover {
    transition: 1s;
    background-color: gray;
}