body{
    .filter{
        #btn{
            ul{
            z-index: 1;
            }
        }
    }
}

main{
    border: 1px solid #000;
    background-image: url(to-do-list.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}

.container .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    

    .card {
        border: solid 1px;
        padding: 40px;
        border-radius: 20px;
        margin-top: 15px;
        box-shadow: inset 0 0 10px rgba(0,0,0,0.5);


    }
}

.cards {
    .priority {
        color: red;
        
    }

    #status {
        background-color: white;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
    }

    #delete {
        background-color: red;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;

    }
}



.taskflow {
  width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 12px;

  display: grid;
  grid-template-columns: auto 1fr auto 120px;
  grid-template-rows: auto auto auto 1fr auto;
  gap: 12px;
box-shadow: inset 0 0 100px rgba(0,0,0,0.5);

}


.header {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 10px;
}


.label-title {
  grid-column: 1;

}
.input-title {
  grid-column: 2;
}

.label-priority {
  grid-column: 3;
}
.input-priority {
  grid-column: 4;
}


.label-desc {
  grid-column: 1;
  grid-row: 3;
}

.input-desc {
  grid-column: 2 / -1;
  grid-row: 3 / 5;
  min-height: 120px;
  resize: none;
}


.btn-create {
  grid-column: 1 / -1;
  justify-self: center;
  padding: 8px 24px;
  background: #9be7a5;
  border: 2px solid #000;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}




.modal{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: none;
  justify-content: center;
  align-items: center;
}

.alert-box{
    background: white;
    padding: 25px 30px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    align-content: center;
    display: flex;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .4);
    flex-direction: column;
    align-items: center;
}

.alert-box h2{
  margin: 0 0 10px;
}

.alert-box button{
  margin-top: 12px;
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  background: #6a5acd;
  color: white;
  cursor: pointer;
}

.alert-box button:hover{
  background: #5847c2;
}

